<div id="contenido_adocao">
<div>
    <img src="assets/img/15.png">
</div>
    <div id="indicaciones">
            <p> <strong>Indicações:</strong>  do funcionamento desta seção, a forma de mostrar as características dos cachorros (mouse-digita no img), o que acontece quando você clica em adotar ... etc. va a tener un boton cerrar y de cerrarse la proxima vez que se accese a este lugar por el usuario no va a aparecer.</p>
            <div id="ind_cerrar">
            <input type="button" value="fechar">
                <!-- <a href="3">fechar </a>  -->
            </div>
        </div>
        <!-- <div>{{cachorros|json}} </div> -->
        <div class="contenedor_perro" *ngFor='let cachorro of cachorros.cachorros'>
                
                <!-- <div>{{cachorro.adoptado}} </div> -->
                <img src="{{cachorro.foto}}" alt="Foto Cachorro">
                <div id="cachorro" class="BtnAdoptar">
                   <div>{{cachorro.Nombre}} | 
                   <!-- <input id="porte" type="hidden" value="medio"> -->
                   <input class="{{cachorro.adoptado}}" #id name="{{cachorro.id}}" type="button" value="{{cachorro.adoptado}}" (click)="AdoptarPerro(id.name,id.value)"></div>
                </div>
            
        </div>
        <!-- <p>perros {{cachorros|json}}</p> -->
       
    </div>