:host{
    font-size: 14px;
}
#contenedor_contacto{
 
    margin-left: 40px;
    margin-right: 20px;
 
}
#logo{
    margin-top: 6%;
    width: 100%;
    text-align: center;
    /* background-color: blueviolet; */
}
#logo img{
    width: 50%;
    height: 50%;
    /* background-color: aquamarine; */
}