<div id="contenedor_contacto">
    <div id="logo">
        <img src="assets/img/logo.png" alt="">
    </div>
    <h2>QUEM SOMOS</h2> 

    <p>  <strong>ADOPT-ME </strong> é um site em que ONGs e Protetores de todo o Brasil para a divulgação de cães para adoção. É um projeto feito com carinho para ajudar aos pequenos animais que estão sem lar expostos aos riscos de moar sozinhos nas ruas , sem proteção e os cuidados necessários.</p>
        <h2>E COMO É QUE FUNCIONA?</h2> 
        <h3> É Muito fácil …</h3>
        <ol>
            <li>Despois de feito o seu cadastro gratuitamente no mesmo instante já podem pesquizar os animais com detalhes sobre suas características e personalidade na tela de adocão</li>
            <li>Quando acharem aquele amiguinho especial,  tem que clicar em “adotar” e pronto,  isso gera uma solicitação que nossa fundação analisa e entrará em contato com você o mais breve possível.</li>
        </ol> 
        <h2>  ENTÃO, JÁ VOCÊ DECIDIU, VAI ADOTAR?</h2>
        <p> Mas antes de escolher e adotar um novo amigo, confira nossas dicas:</p>
            <ul>
                <li>Ao escolher seu novo amigo, leve em conta o temperamento dele e veja se ele se adaptará à sua casa. Evite um animal com muita energia se você mora em apartamento, por exemplo. No caso de filhotes, talvez você precise de paciência para educá-los.</li>
                <li> Adote um animal já castrado, ou comprometa-se a castrá-lo assim que ele chegar na idade. Isso é muito, MUITO importante! Afinal, uma gatinha ou cadela pode ter cerca de 10 filhotes por ano, e você não conseguirá famílias que adotem todos eles</li>
                <li>
                Tenha em mente que você precisará de dinheiro não só para ração e vacinas, mas também poderá gastar com tratamento para eventuais problemas de saúde.
                </li>
                <li>
                Assim como as pessoas, um animal também pode ficar doente ou velhinho. É nesses momentos que ele mais precisará da sua atenção e cuidados. Cuide muito bem dele, assim como você gostaria de ser tratado quando estiver doente ou idoso.
                </li>
                <li>
                Cães podem viver 15 anos ou mais e você será responsável por cuidar dele durante todo esse tempo.
                </li>
                <li>
                Todos os moradores da casa devem estar de acordo com a adoção. Isso ajuda a evitar que seu amigo seja maltratado ou mesmo abandonado! 
                </li>
                <li>
                Animais não são brinquedo. Eles têm sentimentos e precisam de cuidados e atenção constantes. Se você não está disposto a ter paciência e dedicar boa parte do seu tempo a ele, melhor desista da adoção. 
                </li>
                <li>
                NUNCA abandone um animal. Tanto os cães quanto os gatos se apegam aos seus donos, e muitas vezes entram em profunda depressão ao serem rejeitados. Honre sua relação de amizade.
                </li>
            
            </ul>
        <h3> Agora que você já leu todas as dicas,  procura nosso site os animais que estão esperando por uma família!</h3>
    </div> 
      