<p>ADMIN</p>
<hr>
<!-- <p> datos de los cachorros: {{DatosCachorros|json}} </p> -->
        Criterio de Busqueda(clic):
        
        <button (click)="AnadirCampo('Nombre')" >Nombre</button> |
         <button (click)="AnadirCampo('sexo')" >Sexo</button> |
         <button (click)="AnadirCampo('edad')" >Edad</button> |
         <button (click)="AnadirCampo('porte')" >Porte</button> |
         <button (click)="AnadirCampo('temperamento')" >Temperamento</button> |
         <button (click)="AnadirCampo('saude')" >Saude</button>
 <br>
 <br>
<form #BuscarPerro="ngForm" (ngSubmit)="Buscar()">
    
    <label for="">Cachorro: </label>
    <input #text type="text" name="NombrePerro" [(ngModel)]='busqueda' placeholder="{{campo}}">
    <input type="submit" value="Pesquisar">
</form>


<!-- <p *ngFor="let item of itemsBusca">
    Id: {{item.id}} <br>
    Nombre: {{item.nombre}} <br>
    Apellido: {{item.apellido}}
</p> -->
<hr>
<strong><p>id | Nombre | Sexo | Edad | Porte | Temperamento | Saude</p> </strong>


<div *ngFor="let result of resultado">
    
    <input type="text" size="5" name="Nombre"  [(ngModel)]='result.Nombre'>
    <input type="text" size="5" name="sexo" [(ngModel)]='result.sexo' >
    <input type="text" size="5" name="edad"  [(ngModel)]='result.edad'>
    <input type="text" size="5" name="porte"  [(ngModel)]='result.porte'>
    <input type="text" size="5" name="temperamento" [(ngModel)]='result.temperamento'> 
    <input type="text" size="30" name="saude" [(ngModel)]='result.saude'>
    <!-- <input type="submit" value="Salvar Cambios"> -->
   
 </div>

<p>
<!-- VALOR RESULT: {{result|json}} -->
</p>

    <div *ngIf="controlEE">
        <button (click)="Actualizar()">Actualizar</button>
        <button (click)="Deletear()">Eliminar</button>
    </div>
<hr>
<br>
<form #CachorroNew="ngForm" (ngSubmit)="onSubmit(CachorroNew)">
  <h2>Nuevo Cachorro</h2>
   <p> Nombre*: <input type="text" name="Nombre" [(ngModel)]="perro.Nombre" required></p>
   <p>Sexo*: <input type="text" name="sexo" [(ngModel)]="perro.sexo" required ></p>
   <p>Edad*: <input type="text" name="edad" [(ngModel)]="perro.edad"  required></p>
   <p>Porte*: <input type="text" name="porte" [(ngModel)]="perro.porte" required></p>
   <p>Temperamento*: <input type="text" name="temperamento" [(ngModel)]="perro.temperamento" required></p>
   <p>Saude*: <input type="text" name="saude" [(ngModel)]="perro.saude" required ></p>
   <p>Foto*: <input type="file" name="foto" [(ngModel)]="perro.foto" required></p>
      
    <input type="submit" value="Registrar">
</form>

