
    <!-- <div id="contenedor_solicitud"> -->
     <div id="indicaciones">
               <p> <strong>Indicações: </strong>  do funcionamento desta seção, a forma de mostrar as características dos cachorros (mouse-digita no img), o que acontece quando você clica em adotar ... etc. va a tener un boton cerrar y de cerrarse la proxima vez que se accese a este lugar por el usuario no va a aparecer.</p>
               <div id="ind_cerrar">
               <input type="button" value="fechar">
                   <!-- <a href="3">fechar </a>  -->
               </div>
     </div>

 <div id="contenedor_solicitud" *ngFor="let perro of cachorros.cachorros">
     <div *ngIf='control==true'>
        <div id="nome"> {{perro.Nombre}}</div>
        <!-- <p id="solicitud">SOLICITUD</p> -->
        <div id="caixa">
               <img src="{{perro.foto}}" alt="">
               <div id="datos">
                    <p id="sexo"><strong>Sexo:</strong> {{perro.sexo}}</p>
                    <p id="edad"><strong>Edade:</strong> {{perro.edad}}</p>
                    <p id="porte"><strong>Porte:</strong> {{perro.porte}}</p>
                    <p id="temperamento"><strong>temperamento:</strong> {{perro.temperamento}}</p>
               </div>
               <div id="saude">
                    
                    <ul>
                        <li> <strong>Saude</strong></li>
                        <li> {{perro.saude}}</li>
                        <!-- <li> vermifugado</li> -->
                    </ul>
                        
                    
               </div>
               
          </div> 
 <p id="DA"> <input #id class="denegar" name="{{perro.id}}" type="submit" value="Denegar" (click)="Denegar(id.name)">  <input class="aceptar" type="submit" value="Aceptar"></p>  
          
         
     </div>
   </div>
<!-- </div> -->
     