<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="contenedor">
             <header>      
                <div class="logo">
                    <a href="#" ><img src="assets/img/logo_icon.png" alt="Logo" width="264"></a>
                </div>  
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="assets/img/menu.png" width="30" alt=""></label>          
                <nav class="menu">            
                    <ul>                
                        <li><a href="" class="link-color" routerLink="/home" routerLinkActive="ac" >Inicio</a></li>
                        <li><a href="" class="link-color" routerLink="/adocao" routerLinkActive="ac">Adoção</a></li>
                        <li><a href="" class="link-color" routerLink="/solicitacao" routerLinkActive="ac">Solicitação</a></li>
                        <li><a href="" class="link-color" routerLink="/quienes_somos" routerLinkActive="ac">Quem Somos</a></li>
                        <li><a href="#contacto" class="link-color" >Contacto </a></li>
                    </ul>
                </nav>
            </header>


    <div id="banner"></div>
    <div id="contenido">
      <!-- enlaces -->
      <router-outlet></router-outlet>
    </div>
    
  
        <div id="admin_articulos">
            <form >
                <div class="admin"><label for="">Administração</label></div>
                
                <input class="inputTxt" type="text" placeholder="Usuario">
                <input class="inputTxt" type="password" placeholder="Senha">
                <input routerLink="/admin" class="inputBtn" type="submit" value="Enviar">
            </form>
            <br>
            <div class="admin">Artigos</div>
            <div ><iframe class="art" src="https://www.youtube.com/embed/UonCZgYpDkQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="textart">De quais vacinas meu cão precisa?</div>

            <div><iframe class="art" src="https://www.youtube.com/embed/Fu_rgDw9Fcw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="textart"> 5 dicas para fazer o seu cão gostar de banho.</div>
        </div>

        <div class="contac_pie_paginaa" id="contacto">    
            <div class="contact-wrapper animated bounceInUp">
                <div class="contact-form">
                    <img src="assets/img/Adicionar um título (13).png" width="100%">
                    <h3>Envie-nos a sua opinião </h3>
                    <form action="">
                        <p>
                            <label>Nome</label>
                            <input id="NomeComent" class="inpunTxt" type="text" placeholder="nome" >
                        </p>
                        <br>
                        <p>
                            <label>Email</label>
                            <input id="MailComent" type="text" name="affair" placeholder="Email">
                        </p>
                        <p class="block">
                           <label>Mensagem</label> 
                            <textarea name="Comentario" placeholder="Comentario" rows="3"></textarea>
                        </p>
                        <p class="block">
                            <button>Envie-nos</button>
                        </p>
                    </form>
                </div>
              
                    <div class="contact-info" >
                         <!--    <mat-icon >icon_name</mat-icon>
                            <mat-icon svgIcon="iconName"></mat-icon> -->
    
                        <ul>
                            <li><b>Empresa:</b> Fundação ADOPT-ME</li>
                            <li><i class="drink-mocha"></i><b>Telefone:</b> (989) 111 111 112</li>
                            <li><i class="fas fa-envelope-open-text"></i><b>Email:</b> contact@website.com</li>
                        </ul>
                        <h3>Endereço:</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234938.5509995052!2d-43.45569656269438!3d-23.063582788241607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd50ffe726191%3A0xbb0215da9c59a67b!2sIpanema%2C%20R%C3%ADo%20de%20Janeiro%20-%20Estado%20de%20R%C3%ADo%20de%20Janeiro!5e0!3m2!1ses-419!2sbr!4v1600542115211!5m2!1ses-419!2sbr" width="80%" height="%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
                        <p>Ave Matapi No. 203, Santa teresinha, Sao Paulo, Brasil. Estamos aguardando sua visita, ficaremos felizes de ver você aqui e responderemos suas duvidas. </p>
                        <div id="social">
                                <strong> Redes Sociais</strong> <br>
                                Facebook | Instagram | Linkedin
                    </div>
                         
                </div>
            </div>
    
        </div>
   
</div>

</body>
</html>
